<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title> 一覧:ローカル画像ビュワー </title>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form action="/search_tag" method="POST">
            <input type="text" name="tags" placeholder="タグを入力" style="width:500px;">タグ
            <select name='sort' required>
                <option value="des_rating" selected>星 高い順</option>
                <option value="asc_rating">星 低い順</option>
                <option value="asc_title">タイトル 先頭から</option>
                <option value="des_title">タイトル 後尾から</option>
                <option value="acs_path">ファイルパス 昇順</option>
                <option value="des_path">ファイルパス 降順</option>
            </select>
            <br>
            <input type="text" name="series_title" placeholder="シリーズ名を入力" style="width:500px;">シリーズ
            <input type="submit" value="検索">
        </form>
        <hr>

        <h4>検索結果</h4>
        <h5>検索方法:{{search_method}}</h5>
        <table class="table_layout">
            <thead>
                <tr>
                    <th class="title">タイトル</th>
                    <th class="star">星</th>
                    <th class="series">シリーズ</th>
                    <th>タグ</th>
                </tr>
            </thead>
            <tbody>
                {% for p_data in results_search %}
                    <tr>
                        <td><a href="{{url_for('view_pic', pic_id=p_data._id)}}">{{p_data.title}}</a></td>
                        <td>{{p_data.rating}}</td>
                        <td>
                            {% if p_data.series_id == 'sid_0000000000000000' %}
                                -
                            {% else %}
                                <a href="{{url_for('catalog', series=p_data.series_title)}}">{{p_data.series_title}}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% for tag in p_data.tags_list %}
                                <a href="{{url_for('catalog', tag=tag, sort='des_rating')}}">#{{tag}}</a>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </body>
</html>