<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title> 一覧:ローカル画像ビュワー </title>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form action="/search_tag" method="POST">
            <input type="text" name="tags" placeholder="タグを入力" style="width:500px;">
            <select name='sort' required>
                <option value="des_rating" selected>星 高い順</option>
                <option value="asc_rating">星 低い順</option>
                <option value="asc_title">タイトル 先頭から</option>
                <option value="des_title">タイトル 後尾から</option>
                <option value="acs_path">ファイルパス 昇順</option>
                <option value="des_path">ファイルパス 降順</option>
            </select>
            <input type="submit" value="タグ検索">
        </form>

        <form action="/search_series" method="POST"></form>
        <input type="text" name="series_title" placeholder="シリーズ名を入力" style="width:500px;" required>
        <input type="submit" value="シリーズ検索">
        <hr>
        <h4>検索結果</h4>
        {% for p_data in results_search %}
        <p> <a href="{{url_for('view_pic', pic_id=p_data._id)}}">{{p_data.title}}</a> 星:{{p_data.rating}}</p>
        {% endfor %}
    </body>
</html>