<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title> ローカル画像ビュワー </title>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form action="/search_tag" method="POST">
            <input type="text" name="tags" placeholder="タグを入力" style="width:500px;">タグ
            <select name='sort' required>
                <option value="des_rating" selected>星 高い順</option>
                <option value="asc_rating">星 低い順</option>
                <option value="asc_title">タイトル 先頭から</option>
                <option value="des_title">タイトル 後尾から</option>
                <option value="acs_path">ファイルパス 昇順</option>
                <option value="des_path">ファイルパス 降順</option>
            </select>
            <br>
            <input type="text" name="series_title" placeholder="シリーズ名を入力" style="width:500px;">シリーズ
            <input type="submit" value="検索">
        </form>
        <hr>

        <!-- 画像のタイトル -->
        <h3>タイトル:{{pic_data.title}}</h3>
        <form action="/update_title" method="POST">
            <input type="text" name="title" placeholder="タイトル" style="width:500px;" required>
            <input type="submit" value="タイトル更新" >
        </form>
        {% if pid_cursor != None %}
            <a href="{{url_for('view_pic', pic_id=pid_cursor.prev)}}"> ＜{{title_cursor.prev}} |</a>
            <a href="{{url_for('view_pic', pic_id=pid_cursor.next)}}"> |{{title_cursor.next}}＞ </a>
        {% endif %}
        <hr>
        <div id="parent">
            <!-- 画像表示部分 -->
            <div id="pic_viewer">
                <img src="{{pic_data.pic_path}}">
            </div>

            <!-- 画像の情報表示部分 -->
            <div id="pic_info">
                <!-- タグ -->
                <h4>タグ</h4>
                {% for tag in pic_data.tags %}
                <input type="checkbox" name="delete_tag" form="delete_tag" value="{{tag}}">
                <a href="{{url_for('catalog', tag=tag, sort='des_rating')}}">{{tag}}</a><br>
                {% endfor %}
                <form action="/add_tags" method="POST">
                    <input type="text" name="tags" placeholder="タグ" style="width:200px;" required>
                    <input type="submit" value="タグ追加">
                </form>
                <form action="/delete_tag" method="POST" id="delete_tag">
                    <input type="submit" value="タグ削除">
                </form>

                <!-- シリーズ -->
                <h4>シリーズ</h4>
                {% if pic_data.series_id != 'sid_0000000000000000' %}
                    <p>
                        <form action="/update_page" method="POST">
                            <a href="{{url_for('catalog', series=series_title)}}">{{series_title}}</a>
                            {% if series_page >= 0 %}
                                :{{series_page}}
                            {% endif %}
                                <input type="text" name="series_page" style="width:20px;" required>
                                <input type="submit" value="シリーズページ更新">
                        </form>
                    </p>
                {% endif %}
                <form action="/update_series" method="POST">
                    <input type="text" name="series_title" placeholder="シリーズタイトル" style="width:250px;" required>
                    <input type="submit" value="シリーズ更新" >
                </form>

                <!-- 好き度 -->
                <h4>好き度</h4>
                ☆:{{pic_data.rating}}
                <form action="/update_rating" method="POST">
                    <select name="rating" required>
                        <option value="">-</option>
                        <option value=0>0</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <input type="submit" value="好き度更新">
                </form>

                <!-- その他テキスト情報 -->
                <h4>メモ</h4>
                <pre>{{pic_data.information}}</pre>
                <form action="/update_info" method="POST">
                    <textarea name="information" required></textarea>
                    <input type="submit" value="その他情報更新">
                </form>
            </div>
        </div>
    </body>
</html>
