<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title> ローカル画像ビュワー </title>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3>画像タイトル</h3>
        <div id="parent">
            <div id="pic_viewer">
                <img src="/static/images/og.png">
            </div>
            <div id="pic_info">
                <h4>タグ</h4>
                <h4>好き度</h4>
                <h4>メモ</h4>
            </div>
        </div>
    </body>
</html>
